
:root {
    --colorPrimaryBlack: #141618;    
    --colorAccentBlue: #0940a0;    
    --colorGrey90: #232629;    
    --colorGrey80: #363a3e;    
    --colorGrey50: #868f98;    
    --colorGrey20: #dce0e4;    
    --colorGrey0: #ffffff;    
    --colorSuperRed: #ff0000;    
    --colorStrangeGreen: #00ff33;    
}